<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to Go Back</button>
<b><h1>{{data.title}}</h1></b>

<div class="media">
    <img src="{{data.pic}}" class="mr-3" alt="...">
    <div class="media-body">
      <h3 class="mt-0">{{data.name}}</h3>
      {{data.datetime | date}}
    </div>
  </div>
  <hr>
  <p>{{data.description}}</p>
  <hr>
  <b><h2>Comments</h2></b>
  
<div class="comments">
    <div class="media">
        <img src="{{data.pic}}" class="mr-3" alt="...">
        <div class="media-body">
          <h3 class="mt-0">Mad Max</h3>
          {{data.datetime | date}}
        </div>
        
      </div>
      <h3 class="cmt">Comments is placed here</h3>
      <hr>
</div>