<nav class="navbar navbar-expand-lg navbar-dark bg fixed-top" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DiscussVIIT</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
                <li class="nav-item"><a routerLink="/categories" class="nav-link">Categories</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Discussions</a></li>
                <li class="nav-item" *ngIf="authState"><a href="#" class="nav-link">My Articles</a></li>
                <li class="nav-item" *ngIf="authState"><a href="#" class="nav-link"routerLink="/create">Create Articles</a></li>
            </ul>
            
            <a class="navbar-brand" *ngIf="authState" href="#">{{user.name}}</a>
            
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <img *ngIf="authState" src="{{user.pic}}" alt="">
                <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary " *ngIf="!authState" (click)="login()" >Signin <span class="caret"></span></button>
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary " *ngIf="authState" (click)="logout()" >Signout <span class="caret"></span></button>
                
            </ul>
        </div>
    </div>
</nav>


<div id="dummy"></div>




