<div class="card carditem" (click)="display('Competitive Coding')">
  <div class="card-header">
    <h1>Competitive Coding</h1>
  </div>
  <div class="card-body">
    
    <p class="card-text">Programming is a challenging role and once you enter this field you will encounter new challenges and you may have to solve some problems which no one has solved before or their solution doesn’t exist anywhere. </p>
    <a href="#" class="btn btn-primary">Explore Discussions</a>
  </div>
</div>
<div class="card carditem" (click)="display('Web Development')">
    <div class="card-header">
      <h1>Web Development</h1>
    </div>
    <div class="card-body">
      
      <p class="card-text">Web development is the work involved in developing a Web site for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex web applications.</p>
      <a href="#" class="btn btn-primary">Explore Discussions</a>
    </div>
  </div>
  <div class="card carditem"  (click)="display('Android')">
    <div class="card-header">
     <h1> Android</h1>
    </div>
    <div class="card-body">
      
      <p class="card-text">Android software development is the process by which applications are created for devices running the Android operating system. Google states that "Android apps can be written using Kotlin, Java</p>
      <a href="#" class="btn btn-primary">Explore Discussions</a>
    </div>
  </div>
  <div class="card carditem"  (click)="display('Machine Learning')">
    <div class="card-header">
     <h1> Machine Learning</h1>
    </div>
    <div class="card-body">
      
      <p class="card-text">Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.</p>
      <a href="#" class="btn btn-primary">Explore Discussions</a>
    </div>
  </div>