<div class="card" *ngFor="let item of discussion">
  <div class="carditem" >
      <div class="card-header">
          <a href="javascript:;" class="avatar rounded-circle">
            <img alt="Image placeholder" src="{{item.payload.doc.data().pic}}">
          </a>
          <h3 id="th">{{item.payload.doc.data().name}}</h3>
          <button class="btn  btn-danger" (click)="delete(item.payload.doc.data().qid)">delete</button>
          <time datetime="">April 1st, 2013</time>
        </div>
        <div class="card-body" (click)="display(item.payload.doc.data())">
         <b> <p3>{{item.payload.doc.data().title}}</p3> </b>
          <p class="card-text">{{item.payload.doc.data().description }}</p>
            <h4> <b><span>Category:</span></b> {{item.payload.doc.data().category}}</h4>
        </div>
  </div>
</div>

