<div class="card" *ngFor="let item of discussion" >
    <div class="card-header">
        <a href="javascript:;" class="avatar rounded-circle">
            <img alt="Image placeholder" src="{{item.payload.doc.data().pic}}">
          </a>
      <h1 id="th">{{item.payload.doc.data().name}}</h1>
      <time datetime="">April 1st, 2013</time>
    </div>
    <div class="card-body">
      <p class="card-text">{{item.payload.doc.data().description}}</p>
      <h4> <b><span>Category:</span></b> {{item.payload.doc.data().category}}</h4>
    </div>
  </div>
 
  