<div class="lis">
    <hr class="my-4">
    <div class="ques">
        <div class="row">
            <div class="col-2 pp">
               <img src="https://www.w3schools.com/howto/img_avatar.png" alt=""> 
            </div>
            <div class="col-6 title">
                <h3><a href="">Discussion Title</a></h3>
            </div>
           
        </div>
        <div class="row">
           
            
        </div>
        <span class="time">11:00  1-11-2018</span> 
    </div>
    <hr class="my-4">
</div>